<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Donatien BRIAN Développeur Web Junior</title>
</head>
<body>

    <header class="header " >
        <div class="container contenu-header active" id="accueil">
            <div class="header-gauche">
                <div class="image">
                    <img src="images/photoidentite.png" alt="Photo Identité" >
                </div>
            </div>
            <div class="header-droite">
                <h1>Bienvenue sur mon site! Je m'appelle <span class="texte-sup">Donatien BRIAN</span> et je suis <span class="texte-sup">Développeur Web Junior</span>.</h1>
                <p>Vous trouverez sur ce site mon cv, mon parcours, mes réalisations ainsi que mes coordonnées.</p>
                <div class="container-btn">
                    <a href="/CV" class="main-btn">
                        <span class="btn-text">Télécharger CV</span>
                        <span class="btn-icon"><ion-icon name="arrow-down-circle"></ion-icon></span>
                    </a>
                </div>
            </div>
            <div class="forme"></div>
        </div>
    </header>
    <main>
        <section class="container parcours" id="parcours">
            <div class="titre-page">
                <h2>Mon Parcours</h2>
            </div>
            <h4>Mes compétences</h4>
            <div class="parcours-competences">
                <div class="competences-developpement">
                    <h5>Développement</h5>
                    <p>HTML5</p>
                    <p>CSS3</p>
                    <p>PHP5</p>
                    <p>MySQL</p>
                    <p>Javascript</p>
                    <p>Drupal</p>
                    <p>Java</p>
                    <p>Programmation Orientée Objet</p>
                </div>
                <div class="competences-infographie">
                    <h5>Infographie</h5>
                    <p>Photoshop</p>
                    <p>Illustrator</p>
                    <p>GIMP</p>
                    <p>Inkscape</p>
                    <p>Scribus</p>
                    <p>Blender</p>
                    <p>Avid</p>
                    <p>Premiere</p>
                </div>
            </div>
            <h4>Mes Diplomes</h4>
            <div class="parcours-diplomes">
                <div class="timeline-item">
                    <div class="tl-icon">
                        <ion-icon name="school"></ion-icon>
                    </div>
                    <p class="tl-annee">2015</p>
                    <h5>Licence Communication Libre et Sources Ouvertes<span>ICOM - Université lyon 2</span></h5>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <ion-icon name="school"></ion-icon>
                    </div>
                    <p class="tl-annee">2013</p>
                    <h5>DUT Services et réseaux de communication (équivalent MMI)<span>IUT de Laval</span></h5>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <ion-icon name="school"></ion-icon>
                    </div>
                    <p class="tl-annee">2011</p>
                    <h5>Baccalauréat Scientifique - mention assez bien<span>Lycée Le Fresne Angers</span></h5>
                </div>
            </div>
            <h4>Mes expériences professionelles en développement</h4>
            <div class="parcours-experiences-dev">
                <div class="timeline-item">
                    <div class="tl-icon">
                        <ion-icon name="briefcase"></ion-icon>
                    </div>
                    <p class="tl-annee">2015</p>
                    <h5>Stage en développement web pour le projet MIRIADI.<span>4 mois</span></h5>
                    <p>- Développement sous Drupal</p>
                    <p>- Mise en place d'un outil de formations</p>
                    <p>- Adaptation de plugins Drupal</p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <ion-icon name="briefcase"></ion-icon>
                    </div>
                    <p class="tl-annee">2013</p>
                    <h5>Développement d'un jeu de plate-forme sous Unity dans le cadre d'un projet tutoré.<span>3 semaines</span></h5>
                    <p>- Travail en équipe</p>
                    <p>- Gestion de projet</p>
                    <p>- Développement en Javascript</p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <ion-icon name="briefcase"></ion-icon>
                    </div>
                    <p class="tl-annee">2013</p>
                    <h5>Stage en développement Web dans l'agence de communication Web2C.<span>2 mois</span></h5>
                    <p>- Adaptation de CMS Wordpress</p>
                    <p>- Développement spécifique avec CakePHP</p>
                    <p>- Maquettage et intégration de sites web</p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <ion-icon name="briefcase"></ion-icon>
                    </div>
                    <p class="tl-annee">2013</p>
                    <h5>Stage en développement Web pour Angers Technopole.<span>2 semaines</span></h5>
                    <p>- Mise en place d'un site vitrine pour l'espace Angers Coworking</p>
                    <p>- Adaptation de maquettes pré-établies et suivi d'un cahier des charges</p>
                    <p>- Développement front-end et développement spécifique de plug-ins Wordpress</p>
                </div>
            </div>
            <div class="parcours-experiences-autre">
                <h4>Mes autres expériences</h4>
                <h5>Manutention dans une entreprise de façonnage de carrelage <span>6 mois</span></h5>
                <h5>Accueil/ventes dans un parc pour enfants <span>6 mois</span></h5>
            </div>
            <div class="forme"></div>
        </section>
        <section class="container portfolio" id="portfolio">
            <div class="titre-page">
                <h2>Mes réalisations</h2>
            </div>
            <div class="portfolio-gallerie port-active" id="portfolio-gallerie">
                    {{#each portfolio}}
                    <div class="portfolio-item">
                        <div class="image">
                                <img src="{{this.screenPreview}}" alt="">
                        </div>
                        <div class="hover-items">
                            <h3>{{this.nom}}</h3>
                            <div class="icon">
                                <div class="btn-port" data-id="{{this.id}}">
                                    <ion-icon name="arrow-forward-circle"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
            </div>
            <div class="portfolio-details">
                {{#each portfolio}}
                    <div class="details-{{this.id}} port-inactive" id="{{this.id}}">
                        <h3>{{this.nom}}</h3>
                        <div class="details-gauchedroite">
                            <img src="{{this.screenFull}}" alt="" class="port-screenshot">
                            <div class="details-grille">
                                <h4>Type de projet</h4>
                                <p>{{this.typeProjet}}</p>
                                <h4>Technologies utilisées</h4>
                                <p>{{this.technologieUtilisee}}</p>
                                <h4>Détails</h4>
                                <p>{{this.details}}</p>
                                <div class="btn-retour main-btn" data-id="{{this.id}}">
                                    <span class="btn-text">Retour</span>
                                    <span class="btn-icon"><ion-icon name="arrow-down-circle"></ion-icon></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="forme"></div>
        </section>
        <section class="container contact" id="contact">
            <div class="titre-page">
                <h2>Me contacter</h2>
            </div>
            <div class="contact-contenu">
            <div class="contact-gauche">
                        <h4>Mes coordonées</h4>
                        <div class="contact-info">
                            <div class="contact-item">
                                <div class="icon">
                                    <ion-icon name="location"></ion-icon>
                                    <span>Adresse</span>
                                </div>
                                <p>
                                    : Angers, France
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <ion-icon name="mail"></ion-icon>
                                    <span>Email</span>
                                </div>
                                <p>
                                    <span>: brian.donatien@gmail.com</span>
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <ion-icon name="call"></ion-icon>
                                    <span>Téléphone</span>
                                </div>
                                <p>
                                    <span>: 06 29 16 70 12</span>
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <ion-icon name="language"></ion-icon>
                                    <span>Langues</span>
                                </div>
                                <p>
                                    <span>: Français, Anglais</span>
                                </p>
                            </div>
                        </div>
            </div>
            <div class="contact-droite">
                        <form action="mailto:brian.donatien@gmail.com" method="post" enctype="text/plain" class="contact-form">
                            <div class="input-control i-c-2">
                                <input type="text" required placeholder="Nom">
                                <input type="email" required placeholder="Adresse Mail">
                            </div>
                            <div class="input-control">
                                <input type="text" required placeholder="Sujet">
                            </div>
                            <div class="input-control">
                                <textarea name="" id="" cols="15" rows="8" placeholder="Votre Message"></textarea>
                            </div>
                            <div class="submit-btn">
                                <div class="container-btn">
                                    <a href="#" class="main-btn">
                                        <span class="btn-text"><input type="submit" value="Envoyer"></span>
                                        <span class="btn-icon"><ion-icon name="arrow-down-circle"></ion-icon></span>
                                    </a>
                                </div>
                            </div>
                        
                    </form>
                </div>
            </div>
            <div class="forme"></div>
        </section>
    </main>
    <div class="navigation">
        <div class="image-logo">
            <img src="images/logoDB.png" alt="Logo site">
        </div>
        <nav class="boutons">
            <div class="bouton active-btn" data-id="accueil">
                <ion-icon name="home"></ion-icon>
            </div>
            <div class="bouton" data-id="parcours">
                <ion-icon name="school"></ion-icon>
            </div>
            <div class="bouton" data-id="portfolio">
                <ion-icon name="briefcase"></ion-icon>
            </div>
            <div class="bouton" data-id="contact">
                <ion-icon name="mail-open"></ion-icon>
            </div>
        </nav>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/btnIndex.js"></script>
</body>
</html>